In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from natsort import natsorted
import glob
from IPython.display import display

In [ ]:
data=pd.read_csv('/content/data_BIDMC_final.csv',index_col=0)
data.shape

(8429, 200)

In [ ]:
data.insert(0,"Label",'1')
#data.drop('Unnamed: 0',inplace = True, axis = 1)

In [ ]:
data.columns
data.head()

,Label,c0,c1,c2,c3,c4,c5,c6,c7,c8,...,c190,c191,c192,c193,c194,c195,c196,c197,c198,c199
0,1,0.022046,0.017405,0.010760,0.001513,-0.007137,-0.014390,-0.019444,-0.022701,-0.023760,...,-0.213495,-0.198750,-0.186799,-0.176441,-0.166878,-0.158109,-0.146933,-0.134152,-0.121165,-0.109772
1,1,-0.099643,-0.096753,-0.095858,-0.097558,-0.104053,-0.112743,-0.122429,-0.131110,-0.136586,...,-0.162969,-0.143016,-0.124065,-0.106114,-0.092165,-0.080216,-0.071068,-0.062921,-0.056575,-0.049030
2,1,-0.059251,-0.060124,-0.057798,-0.054673,-0.051749,-0.048826,-0.049305,-0.055384,-0.064865,...,-0.185259,-0.173037,-0.160016,-0.145398,-0.132182,-0.119968,-0.109757,-0.103147,-0.099740,-0.096134
3,1,-0.086089,-0.087316,-0.090945,-0.094777,-0.099811,-0.103447,-0.106085,-0.107526,-0.108768,...,-0.183298,-0.168998,-0.152698,-0.134198,-0.115898,-0.100398,-0.088898,-0.079198,-0.071098,-0.064598
4,1,-0.082967,-0.085662,-0.087957,-0.089651,-0.092145,-0.094438,-0.097330,-0.100822,-0.105714,...,-0.166520,-0.145839,-0.122554,-0.100068,-0.079179,-0.059488,-0.041994,-0.029698,-0.020599,-0.015298

In [ ]:
data_=pd.DataFrame(data)
data_.to_csv('data_chf_BIDMC.csv')
data_.shape

(8429, 201)

In [ ]:
data1=pd.read_csv('/content/data_MITBH_Normal.csv',index_col=0)
data1.shape

(8454, 200)

In [ ]:
data1.insert(0,"Label",'0')

In [ ]:
data1.columns
data1.head()

,Label,c0,c1,c2,c3,c4,c5,c6,c7,c8,...,c190,c191,c192,c193,c194,c195,c196,c197,c198,c199
0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
data2=pd.DataFrame(data1)
data2.to_csv('data_normal_MITBH.csv')
data2.shape

(8454, 201)

In [ ]:
files=natsorted(glob.glob('data_*'))

In [ ]:
files

['data_chf_BIDMC.csv', 'data_normal_MITBH.csv']

In [ ]:
data3=pd.concat((pd.read_csv(file) for file in files), ignore_index=True)
data3.shape

(16883, 202)

In [ ]:
data3.columns

Index(['Unnamed: 0', 'Label', 'c0', 'c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7',
       ...
       'c190', 'c191', 'c192', 'c193', 'c194', 'c195', 'c196', 'c197', 'c198',
       'c199'],
      dtype='object', length=202)

In [ ]:
data3.drop('Unnamed: 0',inplace = True, axis = 1)

In [ ]:
data3.shape

(16883, 201)

In [ ]:
data4=pd.DataFrame(data3)
data4.to_csv('data_MITBH_BIDMC.csv')
data4.shape

(16883, 201)